:host {
  .modal {
    display: flex; /* Escondido por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    align-items: center;
    justify-content: center;
  }

  /* Conteúdo do modal */
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    height: 90%;
  }

  /* Botão de fechar */
  .close {
    color: red;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
  }

  /* Estilo do botão para abrir o modal */
  .open-modal-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }

  .open-modal-btn:hover {
    background-color: #0056b3;
  }

  .position-fix {
    text-align: initial;
    flex-direction: column;
    align-items: initial;
    display: block;
  }
}
