@if (form) {

<div class="container card-main">
  <form [formGroup]="form">
    <tab>
      <tab-header
        [active]="true"
        [id]="'report-bi-tab'"
        [label]="'Detalhes'"
        (tabSelected)="reportDetalheTabBody.activate()"
      />
      <tab-header
        [id]="'report-bi-parametro-tab'"
        [label]="'Parametros'"
        (tabSelected)="reportParametroTabBody.activate()"
      />
      <tab-header
        [id]="'report-bi-query-tab'"
        [label]="'Query'"
        (tabSelected)="reportQueryTabBody.activate()"
      />
      <tab-body [id]="'report-bi-tab-body'" #reportDetalheTabBody>
        <div>
          <app-report-entity-detalhe [form]="form" />
        </div>
      </tab-body>
      <tab-body [id]="'report-bi-parametro-tab-body'" #reportParametroTabBody>
        <div>
          <app-report-entity-parametros [dataPametros]="dataPametros" />
        </div>
      </tab-body>
      <tab-body [id]="'report-bi-query-tab-body'" #reportQueryTabBody>
        <!-- <button (click)="openModalQuery()">Abrir Query</button>
        <div>
          <model-imp titleModal="Query" #modelQuery>
            <app-report-entity-query-modelo [query]="query" />
          </model-imp>
        </div> -->
        <app-report-entity-query [query]="query" />
      </tab-body>
    </tab>
  </form>
</div>

}
