<div class="table2">
  <table>
    <thead>
      <tr>
        @for (coluna of colunas; track $index) {
        <th
          [class]="{
            tb2Center: coluna.alignment === 'center',
            tb2Left: coluna.alignment === 'left',
            tb2Right: coluna.alignment === 'right'
          }"
          style="width: 25%"
        >
          {{ coluna.title }}
        </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of data; track $index) {
      <tr>
        @for (coluna of colunas; track $index) {
        <td
          [class]="{
            tb2Center: coluna.alignment === 'center',
            tb2Left: coluna.alignment === 'left',
            tb2Right: coluna.alignment === 'right'
          }"
        >
          @if (coluna.type === 'txt') { @if(coluna.pp === 'cpfCnpj'){
          {{ coluna.attribute && item[coluna.attribute] }}
          }@else {
          {{ coluna.attribute && item[coluna.attribute] }}
          } } @else if (coluna.type === 'btn') { @if (coluna.iconBtn) {
          <button
            type="button"
            [ngStyle]="{
              'background-color': coluna.colorBtn,
              'border-color': coluna.colorBtn,
              color: 'white'
            }"
            pButton
            (click)="coluna.actionBtn!(item)"
            [icon]="coluna.iconBtn"
          ></button>
          }@else {
          <button (click)="coluna.actionBtn!(item)">carregar</button>
          } }
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
