/* Ensure inputs always have a white background regardless of browser/auto-fill
	 We use ::ng-deep to penetrate child components (e.g. PrimeNG datepicker) so
	 that the internal <input> receives the rule. Important flags are required to
	 override browser styles (autofill, UA styles, etc.). */

:host ::ng-deep input,
:host ::ng-deep textarea,
:host ::ng-deep .p-inputtext,
:host ::ng-deep .ui-inputtext,
:host ::ng-deep .p-datepicker input {
  background-color: #fff !important;
  background: #fff !important;
  color: #000 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-clip: padding-box;
}

/* Chrome / Blink autofill */
:host ::ng-deep input:-webkit-autofill,
:host ::ng-deep input:-webkit-autofill:hover,
:host ::ng-deep input:-webkit-autofill:focus,
:host ::ng-deep textarea:-webkit-autofill,
:host ::ng-deep textarea:-webkit-autofill:hover,
:host ::ng-deep textarea:-webkit-autofill:focus,
:host ::ng-deep select:-webkit-autofill,
:host ::ng-deep select:-webkit-autofill:hover,
:host ::ng-deep select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  box-shadow: 0 0 0px 1000px #fff inset !important;
  background-color: #fff !important;
  -webkit-text-fill-color: #000 !important;
}

/* Firefox autofill */
:host ::ng-deep input:-moz-autofill,
:host ::ng-deep textarea:-moz-autofill {
  box-shadow: 0 0 0px 1000px #fff inset !important;
  background-color: #fff !important;
}

/* Safari / iOS safeguard */
:host ::ng-deep input,
:host ::ng-deep textarea {
  -webkit-text-fill-color: #000 !important;
}
