/* Ensure inputs always have a white background regardless of browser/auto-fill
	 We use ::ng-deep to penetrate child components (e.g. PrimeNG datepicker) so
	 that the internal <input> receives the rule. Important flags are required to
	 override browser styles (autofill, UA styles, etc.). */

:host ::ng-deep input,
:host ::ng-deep textarea,
:host ::ng-deep .p-inputtext,
:host ::ng-deep .ui-inputtext,
:host ::ng-deep .p-datepicker input {
  background-color: #fff !important;
  background: #fff !important;
  color: #000 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-clip: padding-box;
}

/* Chrome / Blink autofill */
:host ::ng-deep input:-webkit-autofill,
:host ::ng-deep input:-webkit-autofill:hover,
:host ::ng-deep input:-webkit-autofill:focus,
:host ::ng-deep textarea:-webkit-autofill,
:host ::ng-deep textarea:-webkit-autofill:hover,
:host ::ng-deep textarea:-webkit-autofill:focus,
:host ::ng-deep select:-webkit-autofill,
:host ::ng-deep select:-webkit-autofill:hover,
:host ::ng-deep select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  box-shadow: 0 0 0px 1000px #fff inset !important;
  background-color: #fff !important;
  -webkit-text-fill-color: #000 !important;
}

/* Firefox autofill */
:host ::ng-deep input:-moz-autofill,
:host ::ng-deep textarea:-moz-autofill {
  box-shadow: 0 0 0px 1000px #fff inset !important;
  background-color: #fff !important;
}

/* Safari / iOS safeguard */
:host ::ng-deep input,
:host ::ng-deep textarea {
  -webkit-text-fill-color: #000 !important;
}

/* Bootstrap-like border for inputs */
:host ::ng-deep input,
:host ::ng-deep textarea,
:host ::ng-deep .p-inputtext,
:host ::ng-deep .ui-inputtext,
:host ::ng-deep .p-datepicker input {
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  padding: 0.375rem 0.75rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

:host ::ng-deep input:focus,
:host ::ng-deep textarea:focus,
:host ::ng-deep .p-inputtext:focus,
:host ::ng-deep .p-datepicker input:focus {
  border-color: #80bdff !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
  outline: 0 !important;
}

/* Make the datepicker and its input fill the full width of the parent component */
:host {
  display: block;
}

:host ::ng-deep .input-group {
  width: 100% !important;
}

:host ::ng-deep p-datepicker,
:host ::ng-deep .p-datepicker {
  display: block !important;
  width: 100% !important;
}

:host ::ng-deep .p-datepicker input,
:host ::ng-deep p-datepicker input {
  width: 100% !important;
  box-sizing: border-box !important;
}
