@import "primeicons/primeicons.css";

html,
body,
app-root {
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #b9c4f3, #9d6dca);
  background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.border-fff {
  border: solid 0.5px #fff;
}

.border-blue {
  border: solid 0.5px #0f1570;
}

.beetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bt {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.bt:hover {
  transform: scale(1.05);
}

.bt:disabled {
  background-color: #b9c4f3;
  transform: scale(1);
  cursor: not-allowed;
}

.btn-1 {
  background-color: #007bff;
  color: white;
}

.btn-2 {
  background-color: #dc3545;
  color: white;
}

.btn-3 {
  background-color: #28a745;
  color: white;
}

.btn-4 {
  background-color: #ffc107;
  color: black;
}

.btn-5 {
  background-color: #8000bb;
  color: #fff;
}

.title3 {
  color: #0f1570;
  font-weight: 600;
}

.label {
  font-weight: 500;
  color: #0f1570;
}

.labelAlert {
  color: #b80081;
  font-weight: 500;
}

.full-w {
  width: 100%;
}

.btn-icon {
  background: none;
  border: none;
}

.input-filter {
  width: 100%;
  height: 50px;
  border: none;
  justify-items: center;
  padding: 1%;
  outline: none;
  border: solid #dbe0ff 0.3px;
  border-radius: 5px;
}
.input-filter:focus {
  outline: none;
  border: solid #3f51b5 0.3px;
}
